
header{
	background-color:plum;
	height: 150px;
}
h1,h2{
	text-align: center;
	color: black;
}
nav{
	width: 20%;
	background-color:lightcoral;
	float: left;
}
main{
	width: 80%;
	background-color:#00ffff;
	float: left;
}
footer{
	height: 90px;
	background-color: hotpink;
	clear: both;
	text-align: center;
}
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 80%;
  margin-left: none;
  margin-bottom: none;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}
